   body{
    background-color: white;
    
}
*{
    margin: 0;
    padding: 0;
}

.basic{
    padding: 0px;
    margin: 0px;
    color: black;
    text-align: center;
    background-color: gray;
    color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border: 1px solid black;
    width: 100%;
    height: 120px;
}
.header,.nav,.article, .aside, .footer {
    height: 60px;
}
.egesz{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    height: 100%;
}
.header,.footer{
    width:100%;
}

.tartalom{
    width: 100%;
    display: flex;
    flex-flow: row wrap; 
    align-self: flex-end;
}

@media only screen and (min-width: 500px) {
    
    .header,.footer {
        height: 120px;
        width: 100px;
    }
    body{
        background-color: green;
        
    }
    
    .header,.footer{
        width:80%;
        align-self: flex-end;
        
    }
    
    .egesz :nth-child(1){
        order: 0;
    }
    .tartalom :nth-child(1){
        order: -1;
    }
    .tartalom :nth-child(2){
        order: 0;
    }
    .egesz :nth-child(2){
        order: -1;
    }
    .tartalom{
        width: 80.3%;
        display: flex;
        flex-flow: row nowrap; 
        align-self: flex-end;
        
    }
    .aside,.article{
        height: 150px;
    }
    .aside{
        width: 50%;
    }
    
    .egesz{
        flex-flow: column wrap;
        height: 490px;
        margin: auto;
        width: 800px;
        align-items: flex-start;
        display: flex;
    }
    
    .nav{
        order: -1;
        align-self: stretch;
        width: 20%;
        height: 81%;
    } 
  } 
  @media only screen and (max-width: 1365px){
    .egesz{
        width: 92%;
    }
}